{% load static %}
<!doctype html>
<html class="no-js" lang="zxx" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fazogir Books</title>
    <meta name="author" content="Vecuro">
    <meta name="description" content="Foodano - Organic Food Store HTML Template">
    <meta name="keywords" content="Foodano - Organic Food Store HTML Template" />
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300;400;500;600;700&family=Amatic+SC:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/app.min.css"> -->
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <!-- Flaticon -->
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.min.css' %}">
    <!-- Layerslider -->
    <link rel="stylesheet" href="{% static 'assets/css/layerslider.min.css' %}">
    <!-- Date Picker -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery.datetimepicker.min.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.min.css' %}">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body class=" home-8">


    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->





        <!--********************************
   		Code Start From Here
	******************************** -->

    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader  ">
        <button class="vs-btn preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <div class="loader-logo">
                <h2>Abu-Hay-Books</h2>
            </div>
            <div class="loader-wrap pt-4">
                <span class="loader"></span>
            </div>
        </div>
    </div>
    <!--========================
    Sticky Header
========================-->
    <div class="sticky-header-wrap sticky-header py-2 py-lg-1">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-5 col-md-3">
                    <div class="logo">
                        <a href="index.html"><h1>Abu-Hay-Books</h1></a>
                    </div>
                </div>
                <div class="col-7 col-md-9 text-end position-static">
                    <nav class="main-menu menu-sticky1 d-none d-lg-block link-inherit">
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                    <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area">
            <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><h1>Abu-Hay-Books</h1></a>
            </div>
            <div class="vs-mobile-menu link-inherit"></div><!-- Menu Will Append With Javascript -->
        </div>
    </div>
    <!--==============================
        Header Area
    ==============================-->
    <header class="header-wrapper header-layout3 pb-50">
        <div class="container py-30">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="header-logo">
                        <a href="index.html">
                            <h1>Abu-Hay-Books</h1>
                        </a>
                    </div>
                </div>
                <div class="col-6 text-end">
                    <button type="button" class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                    <div class="head-top-links text-body2 d-none d-lg-block">
                        <a href="{% url 'users:cart' %}" class="icon-btn has-badge bg2 me-4 sideMenuToggler"><i class="fal fa-shopping-cart"></i><span class="badge">{{count}}</span></a>
                        <span class="icon-btn bg4"><i class="fal fa-user"></i></span>
                        <ul>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'users:logout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'users:login' %}">Login</a></li>
                            <li><a href="{% url 'users:signup' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-none d-lg-block">
            <div class="header3-inner position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-7">
                        <nav class="main-menu menu-style1 mobile-menu-active menu-style2">
                            <ul>
                                <li>
                                    <a href="{% url 'home' %}">Home</a>
                                </li>
                                {% if user.is_authenticated %}
                                    {% if user.user_role == 'admin' %}
                                    <li><a href="{% url 'users:profile' %}">User profile</a></li>
                                    {% endif %}
                                    {% if user.user_role == 'seller' %}
                                    <li><a href="{% url 'sellers:profile' %}">Seller profile</a></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <form action="#" class="header-search">
                            <input type="text" placeholder="Search your product" class="form-control">
                            <button type="submit" class="vs-btn">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==============================
      Hero Area
    ==============================-->
    <section class="vs-hero-wrapper hero-layout3  ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-30">
                    <div class="hero-box1 h-100 mega-hover d-flex align-items-center" data-bg-src="{% static 'assets/img/hero/img.jpeg' %}">

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-6 col-lg-12 mb-30">
                            <div class="hero-box2 mega-hover d-flex align-items-center" data-bg-src="{% static 'assets/img/hero/asosiy.jpg' %}">
                                <div class="box-content">
                                    <h3 class="box-title text-white">Carne Asada</h3>
                                    <h4 class="box-subtitle text-white">start from $12</h4>
                                    <a href="shop.html" class="vsadbox-btn text-theme">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12 mb-30">
                            <div class="hero-box2 mega-hover d-flex align-items-center" data-bg-src="{% static 'assets/img/hero/im.jpeg' %}">
                                <div class="box-content">
                                    <h3 class="box-title">vege chili</h3>
                                    <h4 class="box-subtitle">start from $9</h4>
                                    <a href="shop.html" class="vsadbox-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% block content %}

    {% endblock content %}


    <!--==============================
			Footer Area
	==============================-->
    <div class="bg2" data-bg-src="{% static 'assets/img/hero/footer1.' %}">
        <!--==============================
    Subscribe Area
    ==============================-->
        <section class="vs-newsletter-wrpper   ">
            <div class="container">
                <div class="inner-wrap1 bg-fluid px-70 py-70" data-bg-src="{% static 'assets/img/hero/footer1.jpg' %}">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-6">
                            <div class="form-title mb-30 mb-xl-0 text-center text-xl-start">
                                <span class="sub-title3 mr  -5">Book shop</span>
                                <h2 class="h1 mb-0 lh-1">Abu-Hay <span class="fw-light text-theme">Books</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-wrapper footer-layout1">
            <div class="container">
                <div class="widget-area pt-100">
                    <div class="row align-items-start justify-content-between">
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="widget footer-widget  ">
                                <h3 class="widget_title">Contact Us</h3>
                                <div class="vs-widget-about">
                                    <p class="fs-md">Fergana city Terakmozor street<br></p>
                                    <p class="mb-1 link-inherit"><i class="fas fa-paper-plane me-3"></i><a href="mailto:foodano@example.com">abu_hay_books@example.com</a></p>
                                    <p class="mb-0 link-inherit"><i class="fal fa-fax me-3"></i><a href="tel:+123456789000">+998901234567</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2 col-xl-2">
                            <div class="widget widget_nav_menu  footer-widget  ">
                                <h3 class="widget_title">Useful Links</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li><a href="/">Home</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4 col-xl-4">


                            <div class="widget footer-widget   ">
                                <h3 class="widget_title">Get Direction</h3>
                                <div class="footer-map pt-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright text-center pb-35">
                    <p class="mb-0 link-inherit">Copyright &copy; 2022 <a href="/">Abu-Hay-Books</a> - All Rights Reserved by <a href="https://themeforest.net/user/vecuro_themes">Vecuro</a></p>
                </div>
            </div>
        </footer>
    </div>

    <!-- Scroll Top Top Button -->
    <a href="#" class="scrollToTop"><i class="far fa-angle-up"></i></a>


    <!--********************************
			Code End  Here
	******************************** -->

    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <!-- <script src="assets/js/app.min.js"></script> -->
    <!-- Layerslider -->
    <script src="{% static 'assets/js/layerslider.utils.js' %}"></script>
    <script src="{% static 'assets/js/layerslider.transitions.js' %}"></script>
    <script src="{% static 'assets/js/layerslider.kreaturamedia.jquery.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Date Picker -->
    <script src="{% static 'assets/js/jquery.datetimepicker.min.js' %}"></script>
    <!-- Filter -->
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Jquery UI -->
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <!-- WOW JS (Animation JS) -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <!-- Custom Carousel -->
    <script src="{% static 'assets/js/vscustom-carousel.min.js' %}"></script>
    <!-- Mobile Menu -->
    <script src="{% static 'assets/js/vsmenu.min.js' %}"></script>
    <!-- Form Js -->
    <script src="{% static 'assets/js/ajax-mail.js' %}"></script>
    <!-- Main Js File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>